* {
    flex-shrink: 0;
    font-family: helvetica, sans-serif, arial;
}

header {
    margin: 0;
    background-color: rgb(43, 31, 46);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    position: relative;
}

#title {
    background-color: black;
    color:aqua;
    font-size: 75px;
    position: absolute;
    top: 55px;
    padding-left: 100px;
    padding-right: 130px;
    padding-top: 5px;
    padding-bottom: 6px;
    border-radius: 0px 20px 20px 0px;
    align-items: center;
}

#cat {
    height: 70px;
    position: absolute;
    top: 63px;
    left: 665px;
}

#nav {
    position: absolute;
    right: 10px;
    bottom: 15px;
}

.link {
    padding: 5px;
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
}

a:link, a:visited {
    color:aqua;
}

a:hover {
    color: hotpink;
}

a:active {
    color: lime;
}

#break {
    position: relative;
    margin: 0;
    width: 100%;
    background-image: url(./images/background.jpg);
    height: 150px;
    background-size:contain;
}

#subtitle {
    font-size: 30px;
    position: absolute;
    background: black;
    color:aqua;
    margin-right: 50px;
    right: 25px;
    top: 50px;
    padding: 10px;
    border-radius: 20px;
}

main {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.section {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
}

#about {
    flex-direction: row;
    height: 500px;
    padding: 10px;
    color: rgb(43, 31, 46);
}

#aboutme {
    height: 500px;
    border-right: solid;
    border-color: aqua;
    padding-right: 15px;
    font-size: 30px;
    width: 100px;
    text-align: right;
}

#desc {
    margin-left: 5px;
}

#work {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 10px;
    color: rgb(43, 31, 46);
}

#work h2 {
    height: 800px;
    border-right: solid;
    border-color: aqua;
    padding-right: 15px;
    font-size: 30px;
    width: 100px;
    text-align: right;
}

#pages {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 95%; 
    justify-content: space-evenly;
    align-items: center;
}

.app {
    display: flex;
    border: solid;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 150px;
    width: 45%;
    text-decoration-line: none;
}

.workbox {
    background-color: black;
    color: aqua;
    margin-top: 100px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 5px;
}

#one {
    margin-top: 245px;
}

#uno {
    width: 90%;
    height: 300px;
    background-image: url(./images/lego.background.jpg);
    background-size: cover;
    background-position: 50px 50px;
}

#uno:hover {
    opacity: 0.8;
}

#dos {
    background-image: url(./images/cherry.blossoms.jpg);
    background-size: cover;
}

#dos:hover {
    opacity: 0.8;
}

#tres {
    background-image: url(./images/green.blue.jpg);
    background-size: 100%;
}

#tres:hover {
    opacity: 0.8;
}

#cuatro {
    background-image: url(./images/mountains.jpg);
    background-size: cover;
    background-position-y: -60px;
}

#cuatro:hover {
    opacity: 0.8;
}

#cinco {
    background-image: url(./images/stars.jpg);
    background-size: 100%;
}

#cinco:hover {
    opacity: 0.8;
}

#contact {
    height: 100px;
    padding: 10px;
    color: rgb(43, 31, 46);
}

#contact h2 {
    height: 100px;
    border-right: solid;
    border-color: aqua;
    padding-right: 15px;
    font-size: 30px;
    width: 100px;
    text-align: right;
}

.contact {
    padding-top: 40px;
    padding-left: 100px;
    text-align: right;
    width: 40%;
}

footer {
    background-color:rgb(43, 31, 46);
    padding: 5px;
    margin-top: 5px;
    text-align: right;
}

footer a {
    text-decoration-line: none;
    padding-right: 10px;
}
